# ======================================
# Python
# ======================================

__pycache__/
*.py[cod]
*.so
*.egg-info/
*.egg

# ======================================
# Virtual Environment
# ======================================

venv/
.venv/
env/

# ======================================
# Environment Variables
# ======================================

.env
.env.*

!.env.example

# ======================================
# Django
# ======================================

db.sqlite3
media/
staticfiles/
*.log

# ======================================
# IDE
# ======================================

.vscode/
.idea/

# ======================================
# macOS
# ======================================

.DS_Store

# ======================================
# Node
# ======================================

frontend/node_modules/
frontend/dist/
npm-debug.log*
yarn-error.log*

# ======================================
# Coverage
# ======================================

.coverage
htmlcov/
.pytest_cache/

# ======================================
# Misc
# ======================================

*.swp
*.swo